{{define "title"}}User: {{.User.Username}}{{end}}
{{define "main"}}
<h1>{{.User.Username}}</h1>
<dl class="row">
    <dt class="col-sm-3">ID</dt>
    <dd class="col-sm-9">{{.User.ID}}</dd>
    <dt class="col-sm-3">Description</dt>
    <dd class="col-sm-9">{{.User.Description}}</dd>
    <dt class="col-sm-3">Active</dt>
    <dd class="col-sm-9">{{if .User.Active}}Yes{{else}}No{{end}}</dd>
    <dt class="col-sm-3">Weekly Work Time</dt>
    <dd class="col-sm-9">{{.User.WeeklyWorkTime}}</dd>
    <dt class="col-sm-3">Granularity</dt>
    <dd class="col-sm-9">{{.User.TimesheetGranularity}}</dd>
</dl>
<a href="/users/{{.User.ID}}/edit" class="btn btn-primary">Edit</a>
<a href="/users/{{.User.ID}}/entries" class="btn btn-info">Entries</a>
<a href="/users/{{.User.ID}}/entries/new" class="btn btn-info">New Entry</a>
<a href="/users/{{.User.ID}}/export" class="btn btn-success">Export CSV</a>
<a href="/users" class="btn btn-secondary">Back</a>
<h2>Entries</h2>
{{ template "entries_list" . }}
{{end}}