{{define "brand"}}Timesheet{{end}}
{{define "title"}}Base{{end}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ template "title" . }} | {{ template "brand" . }}</title>
    <link href="{{ if .StaticLibsDir }}{{ .StaticLibsDir }}{{ else }}/static/libs{{ end }}/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="{{ if .StaticLibsDir }}{{ .StaticLibsDir }}{{ else }}/static/libs{{ end }}/htmx.org@2.0.10/dist/htmx.min.js"></script>
</head>
    <body>
        {{template "navbar" .}}

        <main class="container mt-4">
            {{template "main" .}}
        </main>

        <script src="{{ if .StaticLibsDir }}{{ .StaticLibsDir }}{{ else }}/static/libs{{ end }}/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
        <script src="{{ if .StaticScriptsDir }}{{ .StaticScriptsDir }}{{ else }}/static/js{{end}}/script.js"></script>
    </body>
</html>
