{{define "entries_list"}}

{{range .Summaries}}
<h2>Week {{.WeekNumberISO}}</h2>
<dl class="row">
    <dt class="col-sm-3">Week #</dt>
    <dd class="col-sm-9">{{.WeekNumberISO}}</dd>
    <dt class="col-sm-3">Week start</dt>
    <dd class="col-sm-9">{{.StartOfWeek.Format "2006-01-02 15:04 MST"}}</dd>
    <dt class="col-sm-3">Week end</dt>
    <dd class="col-sm-9">{{.EndOfWeek.Format "2006-01-02 15:04 MST"}}</dd>
    <dt class="col-sm-3">Time logged</dt>
    <dd class="col-sm-9">{{.TimeLogged}}</dd>
</dl>            
<div class="table-responsive">
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>Start</th>
            <th>End</th>
            <th>Duration</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {{range .Entries}}
        <tr>
            <td>{{.Start.Format "2006-01-02 15:04 MST"}}</td>
            <td>{{.End.Format "2006-01-02 15:04 MST"}}</td>
            <td>{{.End.Sub .Start}}</td>
            <td>{{if .Description}}{{.Description}}{{end}}</td>
            <td>
                <a href="/entries/{{.ID}}/edit" class="btn btn-sm btn-outline-secondary">Edit</a>
                <a href="/entries/{{.ID}}/delete" class="btn btn-sm btn-outline-danger">Delete</a>
            </td>
        </tr>
        {{end}}
    </tbody>
</table>
</div>
{{end}}
{{end}}
