{{define "navbar"}}
<nav class="navbar navbar-expand-lg bg-body-secondary border-bottom">
    <div class="container">
        <a class="navbar-brand" href="/">{{ template "brand" . }}</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/users">Users</a>
                </li>
            </ul>
        </div>
        <button class="btn btn-sm btn-outline-light" type="button" id="themeToggle" aria-label="Toggle dark mode">
            <span id="themeIcon">🌙</span>
        </button>
    </div>
</nav>
{{end}}
